services:
  cli:
    build:
      context: .
      args:
        RUBY_VERSION: ${RUBY_VERSION:-2.3.1}
        BUNDLER_VERSION: ${BUNDLER_VERSION:-}
    volumes:
      - type: bind
        source: .
        target: /app
      - type: bind
        source: $HOME/.aptible/tokens.json
        target: /root/.aptible/tokens.json
