on:
  release:
    types: [published]

jobs:
  push:
    name: Push gem to RubyGems.org
    runs-on: ubuntu-latest

    permissions: 
        id-token: write
        contents: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      - name: Set up Ruby
        uses: ruby/setup-ruby@211ffaaa5f8dda97e9e8bca4e70d0fbaf2f8c41c
        with:
          bundler-cache: false
          ruby-version: "3.3"

      - run: bundle install

      - uses: rubygems/release-gem@1c162a739e8b4cb21a676e97b087e8268d8fc40b

